<?xml version="1.0" ?>

<container xmlns="http://symfony.com/schema/dic/services"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <parameters>
        <parameter key="admin.menu.extension.class">AdminPanel\Symfony\AdminBundle\Menu\MenuBuilder\DefaultMenuExtension</parameter>
        <parameter key="admin.menu.builder.class">AdminPanel\Symfony\AdminBundle\Menu\MenuBuilder</parameter>
        <parameter key="admin.menu.listener.locale.class">AdminPanel\Symfony\AdminBundle\EventListener\LocaleMenuListener</parameter>
        <parameter key="admin.menu.locale_extension.class">AdminPanel\Symfony\AdminBundle\Menu\MenuBuilder\LocaleMenuExtension</parameter>
    </parameters>

    <services>
        <service id="admin.menu.extension" class="%admin.menu.extension.class%" />
        <service id="admin.menu.locale_extension" class="%admin.menu.extension.class%">
            <argument type="service" id="translator"/>
            <argument type="service" id="request_stack"/>
            <argument type="string">%admin.locales%</argument>
        </service>

        <service id="admin.menu.builder.main" class="%admin.menu.builder.class%">
            <argument>%admin.menu%</argument>
            <argument type="service" id="admin.manager" />
            <argument type="service" id="admin.menu.extension" />
        </service>

        <service id="admin.menu.builder.tools" class="%admin.menu.builder.class%">
            <argument type="collection" />
            <argument type="service" id="admin.manager" />
            <argument type="service" id="admin.menu.locale_extension" />
        </service>

        <service id="admin.menu.twig.extension" class="AdminPanel\Symfony\AdminBundle\Twig\Extension\MenuExtension" public="false">
            <tag name="twig.extension" />
            <argument type="service" id="admin.menu.builder.main" />
            <argument type="service" id="admin.menu.builder.tools" />
            <argument type="service" id="admin.menu.helper" />
        </service>

        <service id="admin.menu.helper" class="AdminPanel\Symfony\AdminBundle\Menu\UrlGeneratorMenuHelper">
            <argument type="service" id="router" />
        </service>
    </services>
</container>
